<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="False" />
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="LocalProGet" value="http://proget.eprod.com:81/nuget/Default" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="LocalProGet" value="http://proget.eprod.com:81/nuget/Default" />
  </activePackageSource> 
</configuration>
